body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #294783;
    color: hsla(0, 0%, 100%, 0.856);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #cccccc2f;
    border-radius: 5px;
  }
  
  #tribute-info {
    text-align: center;
  }
  
  #tribute-name {
    font-size: 24px;
    margin-top: 0;
  }
  
  #image-container {
    margin: 20px 0;
  }
  
  #tribute-image {
    max-width: 100%;
    height: auto;
  }
  
  #tribute-details {
    margin-bottom: 20px;
  }
  